.textBox, .pText{
    background: none;
    border: none;
    text-align: center; 
    width: 140px;
    height: 146px;
    margin: 0 auto;
    outline-style: none;
    font-size: 2rem;
    resize: none;
}
#deletePostItButton{
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    float: right;
}