#trashComponentContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;
}
#buttonTrashComponent{
    background: none;
    border: none;
    border: 2px solid;
    margin: 15px;
    

}
#buttonTrashComponent i{
    font-size: 5rem;
    color: red;
}